[package]
name = "assertr"
version = "0.1.0"
edition = "2021"
rust-version = "1.70"
authors = ["Lukas Potthast <privat@lukas-potthast.de>"]
license = "MIT OR Apache-2.0"
readme = "../README.md"
repository = "https://github.com/lpotthast/assertr"
description = """
Fluent assertions for the Rust programming language.
"""
categories = ["development-tools::testing", "no-std"]
keywords = ["assertions", "assert", "assert-that", "testing"]

[features]
default = ["std"]
std = ["num/std"]
derive = ["dep:assertr-derive"]
tokio = ["dep:tokio"]
serde = ["dep:serde", "dep:serde_json", "dep:toml"]
reqwest = ["dep:reqwest"]
libm = ["dep:libm", "num/libm"]

[dependencies]
assertr-derive = { version = "0.1.0", optional = true, path = "../assertr-derive" }
indoc = "2.0.5"
num = { version = "0.4.3", default-features = false }
reqwest = { version = "0.12.7", optional = true }
libm = { version = "0.2.8", optional = true }
serde = { version = "1.0.204", optional = true, features = ["derive"] }
serde_json = { version = "1.0.133", optional = true }
toml = { version = "0.8.19", optional = true }
tokio = { version = "1.38.0", optional = true, features = ["full"] }

[dev-dependencies]
assertr = { path = ".", features = ["std", "derive", "reqwest", "tokio", "serde"] }
# ... This is a somewhat hacky way to say: Please enable the "std" and "tokio" features for all tests.
mockito = "1.5.0"
# tempfile = "3.12.0"
tokio = { version = "1.38.0", features = ["full"] }
