[package]
name = "assertr"
version = "0.1.0"
edition = "2021"

[features]
default = ["std"]
std = []
derive = ["dep:assertr-derive"]
tokio = ["dep:tokio"]
serde = ["dep:serde"]
reqwest = ["dep:reqwest"]

[dependencies]
assertr-derive = { version = "0.1.0", optional = true, path = "../assertr-derive" }
indoc = "2.0.5"
reqwest = { version = "0.12.7", optional = true }
serde = { version = "1.0.204", optional = true, features = ["derive"] }
tokio = { version = "1.38.0", optional = true, features = ["full"] }

[dev-dependencies]
assertr = { path = ".", features = ["std", "reqwest", "tokio"] }
# ... This is a somewhat hacky way to say: Please enable the "std" and "tokio" features for all tests.
mockito = "1.5.0"
tempfile = "3.12.0"
tokio = { version = "1.38.0", features = ["full"] }
